#pattern_header {
background-image: url('./img/pattern.png');
background-color: #4EA0FF;
background-repeat: repeat;
background-position: center;
}

#logo{
    width: 220px;
    height: 100px;
    padding: 10px;
}

.color_gray{
    color: gray;
}

.color_blue{
    color: #3EACE6;
}

#data{
    font-size: small;
}