#pattern_header {
background-image: url('./img/pattern.png');
background-color: #4EA0FF;
background-repeat: repeat;
background-position: center;
}

#logo{
    width: 220px;
    height: 100px;
    padding: 10px;
}

.color_gray{
    color: gray;
}

.color_blue{
    color: #3EACE6;
}

.font_small{
    font-size: small;
}

ul {
    margin: 15px;
    padding: 0px;
}

.evidenziatore{
background-color: yellow;
}

.size_art{
    height: 150px;
    width: 150px;
    font-size: small;
    color: white;
    text-align: center;
    padding: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#art1{
    background-image: url('img/monitor.jpg');
}
#art2{
    background-image: url('img/graph.jpg');
}